<!-- 通常ボタン -->
<button
  *ngIf="!routerLink"
  [type]="type"
  class="app-btn"
  [ngClass]="buttonClasses"
  [disabled]="disabled"
>
  <img
    *ngIf="iconPath"
    [src]="iconPath"
    class="btn-icon"
    alt=""
  />

  <span *ngIf="label">{{ label }}</span>
</button>

<!-- routerLink ボタン -->
<a
  *ngIf="routerLink"
  class="app-btn"
  [ngClass]="buttonClasses"
  [routerLink]="routerLink"
  [queryParams]="queryParams"
  [class.disabled]="disabled"
>
  <img
    *ngIf="iconPath"
    [src]="iconPath"
    class="btn-icon"
    alt=""
  />

  <span *ngIf="label">{{ label }}</span>
</a>
