<ng-container *ngIf="routerLink; else normalButton">

  <a
    class="app-btn"
    [ngClass]="buttonClasses"
    [routerLink]="disabled ? null : routerLink"
    [queryParams]="queryParams"
    [state]="state"
    [class.disabled]="disabled"
  >

    <app-icon
      *ngIf="icon"
      [name]="icon"
      class="btn-icon">
    </app-icon>

    <span *ngIf="label">
      {{ label }}
    </span>

  </a>

</ng-container>

<ng-template #normalButton>

  <button
    [type]="type"
    class="app-btn"
    [ngClass]="buttonClasses"
    [disabled]="disabled"
  >

    <app-icon
      *ngIf="icon"
      [name]="icon"
      class="btn-icon">
    </app-icon>

    <span *ngIf="label">
      {{ label }}
    </span>

  </button>

</ng-template>