<div class="container py-5">
  <div class="page-card">

    <!-- プロフィール編集 -->
    <div class="mb-3">
      <app-button
        [label]="showForm ? '編集を閉じる' : 'プロフィール編集'"
        [icon]="showForm ? 'x':'user-round-pen'"
        color="gray"
        size="md"
        (click)="showForm = !showForm"
      ></app-button>
    </div>

    <!-- タイトル -->
    <div class="row align-items-end pb-2 mt-3" *ngIf="!showForm">
      <div class="col pb-2">
        <h1 class="mb-0 border-bottom pb-2 d-flex align-items-center">
          <app-icon name="circle-user-round" class="title-icon me-3"></app-icon>
          {{ userName }} さん
        </h1>
      </div>

      <!-- 直近引き継ぎ -->
      <div class="col-auto pb-2" *ngIf="!isSystemAdmin">
        <div class="form-check mb-0">
          <input
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="useLatest"
            name="useLatest"
          />
          <label class="form-check-label">
            直近を引き継ぐ
          </label>
        </div>
      </div>
    </div>

    <!-- 編集フォーム -->
    <app-employee-edit *ngIf="showForm" [selfMode]="true"></app-employee-edit>

    <!-- 月切替 -->
    <div *ngIf="!showForm" class="d-flex align-items-center gap-3 mt-3 mb-3">

      <button
        class="btn btn-light btn-sm"
        (mousedown)="$event.preventDefault()"
        (click)="prevMonth()">
        ◀
      </button>

      <h5 class="mb-0">{{ currentYearMonth }}</h5>

      <button
        class="btn btn-light btn-sm"
        (mousedown)="$event.preventDefault()"
        (click)="nextMonth()"
        [disabled]="isCurrentMonth">
      ▶
      </button>

    </div>

    <!-- 提出物テーブル -->
    <app-submission-table
      [date]="currentDate"
      [getButtonLabel]="getButtonLabel.bind(this)"
      [getButtonIcon]="getButtonIcon.bind(this)"
      [onAction]="onAction.bind(this)"
    >
    </app-submission-table>

  </div>
</div>