:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.20em;   // 呼び出し元のフォントサイズを継承
  height: 1.20em;
  line-height: 1;
  color: inherit;

  // 1px分、上に移動させる
  transform: translateY(-1px);

  ::ng-deep {
    lucide-icon, 
    .app-icon, 
    svg {
      width: 100% !important;
      height: 100% !important;
      display: block;
    }
  }
}