<div class="container pt-5 pt-3">
  <div class="page-card">
    <!-- タイトル -->
    <div class="row mb-4 mt-4 align-items-center">
      <div class="col-12 col-md-12 offset-md-0">
        <h1 class="border-bottom pb-2 d-flex align-items-center">
          <app-icon name="building-office_bk" class="title-icon me-2"></app-icon>
          所属 設定
        </h1>

        <!-- 所属追加フォーム -->
        <div class="row mb-0 mt-5 align-items-center col-12 col-md-12 offset-md-0">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="新しい所属名"
              [(ngModel)]="newDepartmentName"
            />
            <button class="btn btn-primary" (click)="addDepartment()">追加</button>
          </div>

          <!-- エラーメッセージ表示 -->
          <div *ngIf="errorMessage" class="text-danger small mb-3">
            {{ errorMessage }}
          </div>
        </div>       
      </div>
    </div>

    <!-- 所属一覧テーブル -->
    <!-- 削除エラー表示 -->
    <div *ngIf="deleteErrorMessage" class="text-danger small mb-2">
      {{ deleteErrorMessage }}
    </div>

    <table mat-table
          [dataSource]="dataSource"
          class="app-table w-100">

      <!-- ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>
          ID
        </th>
        <td mat-cell *matCellDef="let dept">
          {{ dept.id }}
        </td>
      </ng-container>

      <!-- 所属名 -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          所属名
        </th>
        <td mat-cell *matCellDef="let dept">
          {{ dept.name }}
        </td>
      </ng-container>

      <!-- 操作 -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let dept" class="text-end">

          <app-button
            icon="delete"
            color="red"
            size="sm"
            (click)="deleteDepartment(dept.id)"
            title="削除">
          </app-button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
  </div>
</div>
